In [ ]:
import sqlalchemy as sal
from sqlalchemy import engine as ngin
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import MetaData, func

import pandas as pd
import requests

In [ ]:
URI = 'postgresql://fvzzihomffinqi:a7ff18d0ceea4d8af30ad33235e35c3b216cb411f15dfe935c36aea5e3de2c17@ec2-34-231-63-30.compute-1.amazonaws.com:5432/d28du7j6uaiqdg'

In [ ]:
engine = sal.create_engine(URI)

In [ ]:
r = requests.get("https://gentle-caverns-79193.herokuapp.com/get_income_data")

In [ ]:
r.json()

In [7]:
pd.DataFrame(r.json())

,fiscalDateEnding,reportedCurrency,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,...,depreciation,depreciationAndAmortization,incomeBeforeTax,incomeTaxExpense,interestAndDebtExpense,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome
0,2021-12-31,USD,31486000000,57350000000,25865000000,300000000,4786000000,18745000000,6488000000,26700000000,...,3888000000,2529000000,5867000000,124000000,1155000000,4712000000,11299000000,7022000000,9551000000,5743000000
1,2020-12-31,USD,30865000000,55179000000,24314000000,439000000,4609000000,20561000000,6262000000,30966000000,...,4227000000,2468000000,4726000000,-1360000000,1288000000,3932000000,4850000000,6014000000,8482000000,5590000000
2,2019-12-31,USD,36488000000,77147000000,40659000000,591000000,9004000000,20604000000,5989000000,27484000000,...,4209000000,1850000000,10162000000,731000000,1344000000,9435000000,10324000000,11506000000,13356000000,9431000000
3,2018-12-31,USD,36936000000,79591000000,42655000000,42655000000,10838000000,19366000000,5379000000,26098000000,...,3127000000,1353000000,11347000000,2619000000,723000000,8723000000,8252000000,12070000000,13423000000,8728000000
4,2017-12-31,USD,36943000000,79139000000,42196000000,41703000000,8813000000,19680000000,5590000000,27414000000,...,3021000000,1520000000,11395000000,5642000000,615000000,5758000000,8559000000,12010000000,13530000000,5753000000

In [ ]:
metadata_public = MetaData(schema="fundamentals")
metadata_public.reflect(engine)
inc_schema = automap_base(metadata=metadata_public)
inc_schema.prepare()

In [ ]:
income = inc_schema.classes.income_annual

In [ ]:
    def get_income_data(engine: ngin):

        with Session(engine) as session:
            query = session.query(income)

        return pd.read_sql(query.statement, query.session.bind)

In [ ]:
test = get_income_data(engine = engine)

In [ ]:
df = pd.read_sql(query.statement, query.session.bind)
print(df.head())

In [ ]:
from sqlalchemy.orm import sessionmaker
from typing import List, Optional
from pydantic import BaseModel

In [ ]:
class income_data(BaseModel):
    fiscalDateEnding: str
    reportedCurrency: str
    grossProfit: int
    totalRevenue: int
    costOfRevenue: int
    costofGoodsAndServicesSold: int
    operatingIncome: int
    sellingGeneralAndAdministrative: int 
    researchAndDevelopment: int
    operatingExpenses: int
    investmentIncomeNet: int 
    netInterestIncom: int
    interestIncome: int
    interestExpense: int
    nonInterestIncome: int
    otherNonOperatingIncome: int
    depreciation: int
    depreciationAndAmortization: int
    incomeBeforeTax: int
    incomeTaxExpense: int
    interestAndDebtExpense: int
    netIncomeFromContinuingOperations: int
    comprehensiveIncomeNetOfTax: int
    ebit: int
    ebitda: int
    netIncome: int
        
    class Config:
        orm_mode = True